FILEBASE_ACCESS_KEY=your_filebase_access_key_here
FILEBASE_SECRET_KEY=your_filebase_secret_key_here
RPC_URL=https://eth.llamarpc.com
PRIVATE_KEY=your_eth_private_key_for_ens_updates
ENS_NAME=kaito-attestations.webfree.eth